<div class="gameComponent">
    
    <div id="game" class="gameBox">
        <div v-for="msg in userMessages" :key="msg.id" class="userMesseageBox" :style="{top: msg.y + '%', left: msg.x + '%'}">
            <h4>{{msg.user.name}}</h4>
            {{msg.text}}
        </div>
        <p id="word" class="wordGenerator">
            <span>P</span>
            <span>a</span>
        </p>
    </div>
    <div>
        <div class="invisible">
            <ul>
                <li>
                   {{$store.state.user.name}}
                </li>
            </ul>
        </div>
        <form @submit.prevent="sendMesseage" class="sendMessageBox">
            <input v-model=inputValue type="text" class="sendMessageBox--sendMessage">
        </form>
    </div>
</div>