<div class="gameComponent">
    
    <div id="game" class="gameBox">
        <div v-for="msg in userMessages" :key="msg.id" class="userMesseageBox" :style="{top: msg.y + '%', left: msg.x + '%'}">
            <h4>{{msg.user.name}}</h4>
            {{msg.text}}
        </div>
        <div id="word" class="wordGenerator">
            Password
        </div>
    </div>
    <div>
        <div class="invisible">
            <ul>
                <li>
                   {{$store.state.userName}}
                </li>
            </ul>
        </div>
        <form @submit.prevent="sendMesseage" class="sendMessageBox">
            <button type="button" class="hamburger">
                <span class="hamburger--box">
                    <span class="hamburger--inner"></span>
                </span>
            </button>
            <div class="navigation">
                <ul class="navigation-list">
                    <li>
                        <p>tekst</p>
                    </li>
                    <li>
                        <p>tekst2</p>
                    </li>
                </ul>
            </div>
            <input v-model=inputValue type="text" class="sendMessageBox--sendMessage">
        </form>
    </div>
</div>