$colorPrimary: #fff;
$colorSecondary: #000;
$colorGreyLightest: rgba(200, 200, 200, 0.8);
$colorGreyLightnotest: rgb(190, 190, 190);
$colorGreyLighter: #808080;
$colorGreyLight: #555;
$colorGreyDark: #353535;
$fontSize: 1.6rem;

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

.gameComponent {
  font-size: $fontSize;
  font-family: 'Roboto';
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gamestarter{
  border: thin solid $colorSecondary;
  border-radius: 10px;
  padding: 10px;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
}

.gamestarter:focus{
  outline: none;
}

.gameBox {
  background-color: $colorGreyLightest;
  height: 100%;
  width: 100vw;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.wordGenerator {
  position: absolute;
  z-index: 0;
  font-size: 4vw;
}

.wordGenerator span {
  border: thin solid red;
  padding: 0 4px;
  margin-right: 7px;
  color: $colorGreyDark;
}

.userMesseageBox {
  z-index: 1;
  padding: 10px;
  font-size: 4vw;
  background-color: $colorGreyLightnotest;
  position: absolute;
  color: $colorGreyDark;
  border-radius: 5px;
  border: thin solid $colorGreyDark;
}

.userMesseageBox h4 {
  font-size: inherit;
  color: inherit;
  text-align: center;
}

.invisible {
  display: none;
}

.sendMessageBox {
  border: 1px solid $colorSecondary;
  display: flex;

  &--sendMessage {
    width: 100%;
    background-color: $colorGreyLightnotest;
    color: $colorGreyDark;
    text-align: center;
    font-size: max(2.4rem, 3vw);

    &:focus {
      outline: none;
    }
  }

  &--confirm{
    border: thin solid $colorGreyLight;
    background-color: $colorGreyLightest;
    color: $colorGreyDark;
    border-radius: 2px;
    &:focus{
      outline: none;
    }
    &:active{
      background-color: $colorGreyDark;
      color: $colorPrimary;
    }
  }
}

.gameComponent__modal {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  background-color: $colorGreyLightnotest;
  border: 0;
  margin: 0;
  z-index: 2;

  &:focus {
    border: none;
    outline: none;
  }

}

.hamburger--box {
  width: 24px;
  height: 15px;
  display: inline-block;
  position: relative;
}

.hamburger--inner {
  width: 100%;
  height: 3px;
  background-color: $colorSecondary;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger--inner::before, .hamburger--inner::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: $colorSecondary;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform .3s ease-in-out;
}

.hamburger--inner::before {
  transform: translateY(3px);
}

.hamburger--inner::after {
  transform: translateY(-6px);
}

.hamburger--active .hamburger--inner {
  background-color: transparent;
}

.hamburger--active .hamburger--inner::before {
  transform: translateY(0) rotate(45deg);
}

.hamburger--active .hamburger--inner::after {
  transform: translateY(0) rotate(-45deg);
}

.navigation {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateX(0);
  background-color: $colorGreyLightnotest;;
  transition: transform .3s .1s ease-in-out;
}

.navigation-list {
  margin: 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
