$colorPrimary: #fff;
$colorSecondary: #000;
$colorGreyLightest: rgba(200, 200, 200, 0.8);
$colorGreyLightnotest: rgb(190, 190, 190);
$colorGreyLighter: #808080;
$colorGreyLight: #555;
$colorGreyDark: #353535;
$fontSize: 1.6rem;

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

.gameComponent{
  font-size: $fontSize;
  font-family: 'Roboto';
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gameBox{
  background-color: $colorGreyLightest;
  height: 100%;
  width: 100vw;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.wordGenerator{
  position: absolute;
  padding: 10px;
  color: $colorGreyDark;
  background-color: $colorGreyLightnotest;
  border: thin solid $colorGreyDark;
  border-radius: 5px;
  z-index: 0;
}

.userMesseageBox{
  z-index: 1;
  padding: 10px;
  background-color: $colorGreyLightnotest;
  position: absolute;
  color: $colorGreyDark;
  border-radius: 5px;
  border: thin solid $colorGreyDark;
}

.userMesseageBox h4{
  color: inherit;
  text-align: center;
}

.invisible {
  display: none;
}

.sendMessageBox {
  border: 1px solid $colorSecondary;

  &--sendMessage {
    width: 100%;
    background-color: $colorGreyLightnotest;
    color: $colorGreyDark;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
}

.gameComponent__modal{
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}