$fontSize: 1.6rem;

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

.gameComponent{
  font-size: $fontSize;
  font-family: 'Roboto';
  display: flex;
}

.gameBox{
  height: 90vh;
  width: 90vw;
  position: relative;
}

.userMesseageBox{
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  color: #ffffff;
}

.userMesseageBox h4{
  color: inherit;
  text-align: center;
}