<div class="gameComponent">
    <div v-if="!game.active" class="gameComponent__modal">
        <div v-if="game.owner && game.owner.id === this.$store.state.user.id">
            <button type="button" class="gamestarter" @click="startGame">
                Start game
            </button>
        </div>
        <div v-else>
            Wait for owner to start game
        </div>
    </div>
    <div id="game" class="gameBox">
        <div v-for="msg in userMessages" :key="msg.id" class="userMesseageBox" :style="{top: msg.y + '%', left: msg.x + '%'}">
            <h4>{{msg.user.name}}</h4>
            {{msg.text}}
        </div>
        <p id="word" class="wordGenerator">
            <span v-for="letter in game.currentWord" :key="letter.index">{{letter}}</span>
        </p>
    </div>
    <div>
        <div class="invisible">
            <ul>
                <li>
                   {{$store.state.user.name}}
                </li>
            </ul>
        </div>
        <form @submit.prevent="sendMessage" class="sendMessageBox">
            <button type="button" class="hamburger" @click="showHideNavigation">
                <span class="hamburger--box" >
                    <span class="hamburger--inner"></span>
                </span>
            </button>
            <div v-if="isNavigationActive" class="navigation">
                <ul class="navigation-list">
                    <li>
                        {{$store.state.user.name}}
                    </li>
                </ul>
            </div>
            <input v-model=inputValue type="text" class="sendMessageBox--sendMessage" autofocus autocomplete="off" autocapitalize="off">
            <button type="submit" class="sendMessageBox--confirm">Confirm</button>
        </form>
    </div>
</div>