<div class="console">
    <textarea class="console__textarea" readonly v-model="consoleOutput" ref="consoleOutputElement" @focus="() => $refs.consoleInputElement.focus()"></textarea>
    <form @submit.prevent="onSubmit" class="d-flex flex-row">
        <div class="console__user">C:\User\{{$store.state.user.name ? $store.state.user.name + '\\' : ''}}</div>
        <div class="console__input-wrapper">
            <input class="console__input" type="text" :value="consoleInput" @input="$event => consoleInput = $event.target.value" autofocus autocapitalize="off" autocomplete="off" ref="consoleInputElement" maxlength="40">
            <div class="console__prompt-wrapper">
                {{ consoleInput}}<span class="console__prompt"></span>
            </div>
        </div>
    </form>
</div>