$colorPrimary: #fff;
$colorSecondary: #000;
$colorGreyLighter: #808080;
$colorGreyLight: #555;
$colorGreyDark: #353535;
$fontSize: 1.6rem;

.console {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    border: none;
    font-size: $fontSize;
    font-weight: normal;
    font-family: monospace;
    background-color: $colorPrimary;
    padding: 0;

  
    &__textarea {
        border: none;
        flex-grow: 1;
        resize: none;
        border: none;
        box-shadow: none;

        &:focus{
            outline: none;
            border: none;
            font-size: inherit;
            font-family: inherit;
        }
    }

    &__input {
        border: none;
        width: 100%;
        font-size: inherit;
        font-family: inherit;

        &:focus{
            outline: none;
            border: none;
        }
    }

    &__input-wrapper {
        position: relative;
        flex-grow: 1;
    }
  
    &__prompt-wrapper {
        position: absolute;
        bottom: 0;
        top: 0;
        color: transparent;
        user-select: none;
        pointer-events: none;
        width: 100%;
        background-color: transparent;

    }
  
    &__prompt {
        margin: auto 0;
        color: $colorSecondary;
        display: inline-block;
        width: 9px;
        height: 20px;
        animation: blinking-rect 1s;
        animation-iteration-count: infinite;
    }

    &__prompt::before{
      width: 1px;
      height: 100%;
      content: ' ';
      background-color: $colorPrimary;
      display: inline-block;
      position: relative;
      transform: translateX(-1px);
    }

    

    &__user {
        margin-right: .5em;
    }

    ::-webkit-scrollbar {
        width: 5px;
      }
      
    ::-webkit-scrollbar-thumb {
        background: $colorGreyLighter; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: $colorGreyLight;
    }
}


@media (prefers-color-scheme: dark) {
    .console {
        background-color: $colorSecondary;
        color: $colorPrimary;

        &__prompt {
            color: $colorPrimary;
        }
        &_prompt::before{
          background-color: $colorSecondary;
        }
    }

    ::-webkit-scrollbar-thumb {
        background: $colorGreyLight; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: $colorGreyDark;
    }
}

@keyframes blinking-rect {
  0% {
    background-color: #fff;
  }
  49% {
    background-color: $colorPrimary;
  }
  50% {
    background-color: $colorSecondary;
  }
  100% {
    background-color: #000;
  }
}
