$colorPrimary: #fff;
$colorSecondary: #000;

.console {
    height: calc(100vh - (1.6rem));
    display: flex;
    position: relative;
    flex-direction: column;
    border: none;
    $fontSize: 1.6rem;
    font-weight: normal;
    font-family: monospace;
<<<<<<< HEAD
    background-color: $colorPrimary;
=======
    background-color: #111;
    padding: 0;

>>>>>>> 7c0682dd6f15db2ab1c090ad68b3abe7741b52ea
  
    &__textarea {
      border: none;
      flex-grow: 1;
<<<<<<< HEAD
      resize: none;
      border: none;
      background-color: $colorPrimary;
=======
      box-shadow: none;
    }
    &_textarea:focus{
      outline: none;
>>>>>>> 7c0682dd6f15db2ab1c090ad68b3abe7741b52ea
    }
  
    &__input {
      border: none;
      width: 100%;
      font-size: $fontSize;
      font-family: inherit;
      background-color: $colorPrimary;
    }
    &_input:focus{
      outline: none;
    }
  
    &__prompt-wrapper {
      position: absolute;
      bottom: 2px;
      color: transparent;
      user-select: none;
      pointer-events: none;
      width: 100%;
      font-size: $fontSize;
      background-color: $colorPrimary;
    }
  
    &__prompt {
      color: $colorSecondary;
    }
<<<<<<< HEAD
}
=======
  }

  .console:focus{
    outline: none;
  }
>>>>>>> 7c0682dd6f15db2ab1c090ad68b3abe7741b52ea
  
  @media (prefers-color-scheme: dark) {
    .console {
      background-color: $colorSecondary;
      color: $colorPrimary;

      &__textarea {
        background-color: $colorSecondary;
        color: $colorPrimary;
      }
    
      &__input {
        background-color: $colorSecondary;
        color: $colorPrimary;
      }
    
      &__prompt-wrapper {
        background-color: $colorSecondary;
        color: $colorPrimary;
      }
    }
  }
