$colorPrimary: #fff;
$colorSecondary: #000;
$colorGreyLightest: rgba(200, 200, 200, 0.8);
$colorGreyLightnotest: rgb(190, 190, 190);
$colorGreyLighter: #808080;
$colorGreyLight: #555;
$colorGreyDark: #353535;
$colorContrast: red;

$fontSize: 1.2rem;
$fontSize2: 1.6rem;
$fontSize3: 2rem;
$fontSize4: 2.4rem;

//dodać modale - powtarzający się kod przepisać na pojedyncze klasy
//pozmieniać html - dodać headery, uporządkować